modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://umahyybawmiwatzzasjl.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtYWh5eWJhd21pd2F0enphc2psIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2OTk4MjYsImV4cCI6MjA5MDI3NTgyNn0.Zk7WRaz7cBPpm4Mj-SccH8B0NGaE-sG2tBQb7qh2ntU"
GEMINI_API_KEY = "AIzaSyBp1071l4pE4jXdhye7ZkM5--xF-6uFJ7w"
